{% extends 'base.twig' %}

{% block body %}
<main>
     <div id="filter-title">
        Фильтрация результата поиска
     </div>

     <form action="/" method="get"> 
     <div id="filter-container">
      <label>Введите название статьи</label>
        <input id="input-title" class="input-item" type="text" placeholder="Название"></br>
        <label>Введите название журнала</label>
        <input id="input-magazine" class="input-item" type="text" placeholder="Журнал"></br>
        <label>Введите имя автора</label>
        <input id="input-author" class="input-item" type="text" placeholder="Автор"></br>
        <label>Введите год публикации</label>
        <input id="input-year" class="input-item" type="text" placeholder="Год"></br>
        <button id="apply-filter-btn">
            Применить фильтр
        </button>
         <button id="clear-filter-btn" href="" >
            Очистить фильтр
        </button>
     </div>
     </form>

     <div class="articles-cards-conainer">

     {% for article in articles%}
        <div class="article-card">
            <div class="container text-center">
                        <div class="row">
                             <div class="col-5">
                               <h4>{{article.author}}</h4>
                            </div>
                            <div class="col-5">
                               <h4>{{article.magazine_title}}</h4>
                            </div>
                            <div class="col-2">
                                 {{article.year_release}}
                            </div>
                        </div>
                    <div class="container text-center">
                        <div class="row">
                             <div class="col-6">
                                <div class="articles-image">
                                     <img class="preview-image" src={{article.article_announcement_picture}}>
                                </div>
                            </div>
                            <div class="col-6">
                                 {{article.title}} </br>
                                 <div class="arcticles-text">
                                    {{article.text}}
                                 </div>
                            </div>
                        </div>
                        
                    </div>
            </div>
    
        </div>
        {% endfor %}

        
    </div>
</main> 
 {% endblock %} 